# NOTE: 필요한 것만 작성!

# spring
SPRING_PROFILES_ACTIVE=
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

# auth
JWT_ISSUER=
JWT_ACCESS_TOKEN_VALIDITY_SECONDS=
JWT_REFRESH_TOKEN_VALIDITY_SECONDS=
JWT_REFRESH_COOKIE_NAME=
JWT_REFRESH_COOKIE_PATH=
JWT_REFRESH_COOKIE_SAME_SITE=
JWT_REFRESH_COOKIE_SECURE=
JWT_SECRET=