name: CI/CD.yml
on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

env:
  DOCKER_IMAGE: dnya0/psycho
  SERVICE_NAME: sos
  SPRING_PROFILES_ACTIVE: ${{ secrets.SPRING_PROFILES_ACTIVE }}
  SPRING_DATASOURCE_URL: ${{ secrets.SPRING_DATASOURCE_URL }}
  SPRING_DATASOURCE_USERNAME: ${{ secrets.SPRING_DATASOURCE_USERNAME }}
  SPRING_DATASOURCE_PASSWORD: ${{ secrets.SPRING_DATASOURCE_PASSWORD }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Debug profile
        run: echo "Profile=$SPRING_PROFILES_ACTIVE"

      - name: Test
        run: ./gradlew clean test --stacktrace --info

      - name: Build JAR
        run: ./gradlew bootJar

      - name: Upload JAR
        uses: actions/upload-artifact@v4
        with:
          name: app-jar
          path: build/libs/*.jar

#  push:
#    needs: build
#    runs-on: ubuntu-latest
#    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
#
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v4
#
#      - name: Download JAR
#        uses: actions/download-artifact@v4
#        with:
#          name: app-jar
#          path: build/libs
#
#      - name: Set up Docker Buildx
#        uses: docker/setup-buildx-action@v3
#
#      - name: Login to Docker Hub
#        uses: docker/login-action@v3
#        with:
#          username: ${{ secrets.DOCKERHUB_USERNAME }}
#          password: ${{ secrets.DOCKERHUB_TOKEN }}
#
#      - name: Build and Push Docker Image
#        uses: docker/build-push-action@v5
#        with:
#          context: .
#          push: true
#          tags: |
#            ${{ env.DOCKER_IMAGE }}:${{ env.SERVICE_NAME }}-latest
#            ${{ env.DOCKER_IMAGE }}:${{ env.SERVICE_NAME }}-${{ github.sha }}
#          cache-from: type=gha
#          cache-to: type=gha,mode=max
#
#  deploy:
#    needs: push
#    runs-on: ubuntu-latest
#    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
#
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v4
#
#      - name: Configure AWS credentials
#        uses: aws-actions/configure-aws-credentials@v4
#        with:
#          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
#          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#          aws-region: ap-northeast-2
#
#      - name: Create CodeDeploy deployment
#        run: |
#          aws deploy create-deployment \
#            --application-name sos \
#            --deployment-group-name sos-Deployment-group \
#            --deployment-config-name CodeDeployDefault.AllAtOnce \
#            --github-location repository=${{ github.repository }},commitId=${{ github.sha }}
